<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lyft</title>
	<link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/formulario.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
</head>

<body>
	<header>
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-xs-12 view-one">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row row-flex">
					<div class="col-xs-12 flex">
						<h1>Sign up</h1>
					</div>
					<div class="col-xs-12 flex">
						<p>Join now for free ride credit</p>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="linea"></div>
					</div>
				</div>
			</div>
	</header>

	<section>
		<div class="container">
			<form id="registrationForm" class="input-form form-horizontal">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-user"></i>
					</span>
					<input id="email" type="text" class="form-control" name="email" placeholder="Email" required>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
					<input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
				</div>
				<div class="input-group">
						<input type="checkbox" id="agree" name="agree" value="agree" required/>
						Agree with the terms and conditions
				</div>
			</form>
		</div>
	</section>


	<script type="text/javascript" src="../vendors/js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../vendors/js/bootstrap-formhelpers-phone.js"></script>
	<script type="text/javascript" src="../js/formulario.js"></script>

</body>

</html>