<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lyft</title>
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/view_principal.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container-fluid main-container">
      <div class="row">
        <div class="col-xs-12 view-one">
          <img class="logo" src="../assets/icons/logo-white.png" alt="logo">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 botones">
          <a href="login.html" class="btn btn-info" role="button">Login in</a>
        </div>
        <div class="col-xs-6 botones">
          <a href="signup.html" class="btn btn-info" role="button">Sing Up</a>
        </div>
      </div>
    </div>
  </header>




</body>

</html>