<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lyft</title>
	<link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/verify.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
</head>

<body>
	<header>
		<div class="container-fluid">
			<div class="row row-flex">
				<div class="col-xs-12 flex">
					<h1>Verify phone number</h1>
				</div>
				<div class="col-xs-12 flex">
					<p>Join now for free ride credit</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="linea"></div>
				</div>
			</div>
		</div>
	</header>

	<section>
		<div class="container input-container">
			<div class="row">
				<div class="col-xs-5 inputcol">
					<p>LAB</p>
					<input id="input-cod" type="text" class="form-control" aria-label="..." placeholder="_ _ _">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-xs-12 texcol">
						<p>Enter the code to sent to +51</p>
					</div>
					<div class="col-xs-12 resend">
							<button id="resend" type="button" class="btn btn-resend">Resend code</button>
					</div>
					<div class="col-xs-12 resend">
							<button id="nextbtn" type="button" class="btn-lg btn btn-next">Next</button>
					</div>
				</div>
			</div>
		</div>
		
	
	</section>


	<script type="text/javascript" src="../vendors/js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../vendors/js/bootstrap-formhelpers-phone.js"></script>
	<script type="text/javascript" src="../js/verify.js"></script>

</body>

</html>